body
{
    margin: 0;
    height: 100vh;
    background: #f5f6f7;
    font-family: Segoe UI;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper
{
    text-align: center;
}

.title
{
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    letter-spacing: 1px;
}

.calculator
{
    padding: 25px;
    border-radius: 20px;
    background: #e6e9ef;
    box-shadow: 
        10px 10px 20px #c1c4c9,
        -10px -10px 20px #ffffff;
}

#display
{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 26px;
    padding: 10px;
    text-align: right;
    background: #e6e9ef;
    box-shadow:
        inset 5px 5px 10px #c1c4c9,
        inset -5px -5px 10px #ffffff;
}

.buttons
{
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 12px;
}

button
{
    height: 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    background: #e6e9ef;
    box-shadow:
        5px 5px 10px #c1c4c9,
        -5px -5px 10px #ffffff;
}

button:active
{
    box-shadow:
        inset 5px 5px 10px #c1c4c9,
        inset -5px -5px 10px #ffffff;
}

.op
{
    color: #2962ff;
    font-weight: bold;
}

.equal
{
    color: white;
    background: #2962ff;
}

.clear
{
    grid-column: span 4;
    color: white;
    background: #ff3b3b;
}